rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth != null && request.auth.token.email == "OWNER_EMAIL";
    }
    match /users/{userId} {
      allow read, write: if request.auth != null && (request.auth.uid == userId || isOwner());
    }
    match /appointments/{id} {
      allow read, write: if request.auth != null && (isOwner() || request.resource.data.userId == request.auth.uid || resource.data.userId == request.auth.uid);
    }
    match /announcements/{id} {
      allow read: if true;
      allow write: if isOwner();
    }
    match /products/{id} {
      allow read: if true;
      allow write: if isOwner();
    }
  }
}
